<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home/appicons</key>
	<dict>
		<key>apiName</key>
		<string>首页专区四个小图标</string>
	</dict>
	<key>user/location</key>
	<dict>
		<key>apiName</key>
		<string>获取首页定位信息</string>
	</dict>
	<key>product/zoneproduct</key>
	<dict>
		<key>apiName</key>
		<string>获取一分钱VIP专区商品信息</string>
	</dict>
	<key>product/homefloors</key>
	<dict>
		<key>apiName</key>
		<string>获取首页楼层商品信息</string>
	</dict>
	<key>useraddress/addresslist</key>
	<dict>
		<key>apiName</key>
		<string>获取我的地址信息接口</string>
	</dict>
	<key>store/locationlist</key>
	<dict>
		<key>apiName</key>
		<string>获取附近自提店铺信息列表</string>
	</dict>
	<key>user/locationlist</key>
	<dict>
		<key>apiName</key>
		<string>根据定位获取附近小区列表信息</string>
	</dict>
	<key>user/communitysearch</key>
	<dict>
		<key>apiName</key>
		<string>小区搜索信息</string>
	</dict>
	<key>product/searchproducts</key>
	<dict>
		<key>apiName</key>
		<string>搜索商品</string>
	</dict>
	<key>system/hotproductkey</key>
	<dict>
		<key>apiName</key>
		<string>获取热门商品关键字列表信息</string>
	</dict>
	<key>product/productdetail</key>
	<dict>
		<key>apiName</key>
		<string>获取商品详情信息</string>
	</dict>
	<key>product/getproducttype</key>
	<dict>
		<key>apiName</key>
		<string>获取商品类型列表信息</string>
	</dict>
	<key>brand/searchbrand</key>
	<dict>
		<key>apiName</key>
		<string>获取品牌信息</string>
	</dict>
	<key>cart/confirmcart</key>
	<dict>
		<key>apiName</key>
		<string>获取确认购物车信息</string>
	</dict>
	<key>cart/synchronouscart</key>
	<dict>
		<key>apiName</key>
		<string>同步购物车信息</string>
	</dict>
	<key>cart/adjustmentcartcount</key>
	<dict>
		<key>apiName</key>
		<string>调整购物车数量</string>
	</dict>
	<key>cart/clearcart</key>
	<dict>
		<key>apiName</key>
		<string>清除购物车</string>
	</dict>
	<key>cart/settlementorder</key>
	<dict>
		<key>apiName</key>
		<string>确认订单</string>
	</dict>
	<key>cart/createorder</key>
	<dict>
		<key>apiName</key>
		<string>创建订单</string>
	</dict>
	<key>cart/settlementordertickets</key>
	<dict>
		<key>apiName</key>
		<string>订单结算优惠券优惠金额等信息</string>
	</dict>
	<key>pay/alipayapporderparam</key>
	<dict>
		<key>apiName</key>
		<string>支付请求支付宝信息</string>
	</dict>
	<key>pay/wxpayapporderparam</key>
	<dict>
		<key>apiName</key>
		<string>支付请求微信支付信息</string>
	</dict>
	<key>order/paysuccessinfo</key>
	<dict>
		<key>apiName</key>
		<string>支付成功请求的订单信息</string>
	</dict>
	<key>order/orderlist</key>
	<dict>
		<key>apiName</key>
		<string>订单列表信息</string>
	</dict>
	<key>order/cancel</key>
	<dict>
		<key>apiName</key>
		<string>取消订单</string>
	</dict>
	<key>shippingAddress/setDefault</key>
	<dict>
		<key>apiName</key>
		<string>设置默认地址</string>
	</dict>
	<key>useraddress/addressdetail</key>
	<dict>
		<key>apiName</key>
		<string>地址详细信息</string>
	</dict>
	<key>useraddress/addupdateuseraddress</key>
	<dict>
		<key>apiName</key>
		<string>编辑地址</string>
	</dict>
	<key>useraddress/invaliduseraddress</key>
	<dict>
		<key>apiName</key>
		<string>删除地址</string>
	</dict>
	<key>order/confirm</key>
	<dict>
		<key>apiName</key>
		<string>确认收货</string>
	</dict>
	<key>product/collectsaleproduct</key>
	<dict>
		<key>apiName</key>
		<string>收藏商品</string>
	</dict>
	<key>product/cancelwithcollected</key>
	<dict>
		<key>apiName</key>
		<string>取消收藏</string>
	</dict>
	<key>store/shopinformation</key>
	<dict>
		<key>apiName</key>
		<string>店铺详情</string>
	</dict>
	<key>product/saleproductcollections</key>
	<dict>
		<key>apiName</key>
		<string>我的收藏列表</string>
	</dict>
	<key>product/getevaluations</key>
	<dict>
		<key>apiName</key>
		<string>商品全部评价</string>
	</dict>
	<key>product/getevaluationsummary</key>
	<dict>
		<key>apiName</key>
		<string>商品评价所有类型</string>
	</dict>
	<key>evaluate/saveevaluation</key>
	<dict>
		<key>apiName</key>
		<string>订单评价</string>
	</dict>
	<key>upload/userImage</key>
	<dict>
		<key>apiName</key>
		<string>用户头像上传图片</string>
	</dict>
	<key>upload/evaluateimage</key>
	<dict>
		<key>apiName</key>
		<string>评价上传图片</string>
	</dict>
	<key>user/weixinlogin</key>
	<dict>
		<key>apiName</key>
		<string>微信登录</string>
	</dict>
	<key>user/qqlogin</key>
	<dict>
		<key>apiName</key>
		<string>QQ登录</string>
	</dict>
	<key>user/logout</key>
	<dict>
		<key>apiName</key>
		<string>退出</string>
	</dict>
	<key>user/regist</key>
	<dict>
		<key>apiName</key>
		<string>注册</string>
	</dict>
	<key>system/sendcaptcha</key>
	<dict>
		<key>apiName</key>
		<string>发送验证码</string>
	</dict>
	<key>system/checkcaptcha</key>
	<dict>
		<key>apiName</key>
		<string>验证验证码</string>
	</dict>
	<key>user/resetpassword</key>
	<dict>
		<key>apiName</key>
		<string>重置密码</string>
	</dict>
	<key>user/updatepassword</key>
	<dict>
		<key>apiName</key>
		<string>修改密码</string>
	</dict>
	<key>oauth2/user/bind</key>
	<dict>
		<key>apiName</key>
		<string>第三方登录用户绑定</string>
	</dict>
	<key>brand/searchproductbybrand</key>
	<dict>
		<key>apiName</key>
		<string>品牌编码查询商品分页列表</string>
	</dict>
	<key>brand/searchbykeywords</key>
	<dict>
		<key>apiName</key>
		<string>品牌编码查询商品分页列表</string>
	</dict>
	<key>user/modifyuserinfo</key>
	<dict>
		<key>apiName</key>
		<string>修改用户个人资料</string>
	</dict>
	<key>user/userinfo</key>
	<dict>
		<key>apiName</key>
		<string>查询用户个人资料</string>
	</dict>
	<key>bind/bindwx</key>
	<dict>
		<key>apiName</key>
		<string>绑定微信</string>
	</dict>
	<key>bind/unbindwx</key>
	<dict>
		<key>apiName</key>
		<string>解绑微信</string>
	</dict>
	<key>bind/bindqq</key>
	<dict>
		<key>apiName</key>
		<string>绑定qq</string>
	</dict>
	<key>bind/unbindqq</key>
	<dict>
		<key>apiName</key>
		<string>解绑qq</string>
	</dict>
	<key>activity/userredenvelopeinfo</key>
	<dict>
		<key>apiName</key>
		<string>用户活动期内参与抢红包活动信息数据</string>
	</dict>
	<key>activity/startgrabredenvelope</key>
	<dict>
		<key>apiName</key>
		<string>用户开始抢红包活动信息数据</string>
	</dict>
	<key>activity/grabredenvelope</key>
	<dict>
		<key>apiName</key>
		<string>抢红包接口</string>
	</dict>
	<key>user/saveBuyerFeedback</key>
	<dict>
		<key>apiName</key>
		<string>用户反馈信息</string>
	</dict>
	<key>share/sharetoweixinfriends</key>
	<dict>
		<key>apiName</key>
		<string>分享微信朋友</string>
	</dict>
	<key>share/sharetomoments</key>
	<dict>
		<key>apiName</key>
		<string>分享朋友圈</string>
	</dict>
	<key>order/orderdetail</key>
	<dict>
		<key>apiName</key>
		<string>订单详情</string>
	</dict>
	<key>user/accountinfo</key>
	<dict>
		<key>apiName</key>
		<string>用户账本信息</string>
	</dict>
	<key>user/updateavatar</key>
	<dict>
		<key>apiName</key>
		<string>修改用户头像</string>
	</dict>
	<key>activity/userticketinfo</key>
	<dict>
		<key>apiName</key>
		<string>用户奖券列表查询</string>
	</dict>
	<key>product/themeinfo</key>
	<dict>
		<key>apiName</key>
		<string>查询专题信息</string>
	</dict>
	<key>product/floorproducts</key>
	<dict>
		<key>apiName</key>
		<string>查询楼层商品</string>
	</dict>
</dict>
</plist>
