<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>noNeedLogError</key>
	<array>
		<string>activity/grabredenvelope</string>
		<string>activity/startgrabredenvelope</string>
		<string>useraddress/addressdetail</string>
		<string>cart/synchronouscart</string>
		<string>cart/confirmcart</string>
		<string>cart/adjustmentcartcount</string>
		<string>cart/clearcart</string>
		<string>system/gettypeurl</string>
	</array>
	<key>needLogError</key>
	<array>
		<string>user/login</string>
		<string>user/logout</string>
		<string>user/regist</string>
		<string>system/sendcaptcha</string>
		<string>system/checkcaptcha</string>
		<string>user/resetpassword</string>
		<string>user/updatepassword</string>
		<string>product/searchproducts</string>
		<string>user/communitysearch</string>
		<string>user/locationlist</string>
		<string>useraddress/invaliduseraddress</string>
		<string>useraddress/addupdateuseraddress</string>
		<string>cart/settlementorder</string>
		<string>cart/createorder</string>
		<string>order/cancel</string>
		<string>order/confirm</string>
		<string>pay/alipayapporderparam</string>
		<string>pay/wxpayapporderparam</string>
	</array>
</dict>
</plist>
