<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">
	
	 <bean id="yilidiSessionGenerator" class="com.yilidi.o2o.common.session.generator.YiLiDiSessionGenerator">
        <property name="systemParamsService" ref="systemParamsService" />
    </bean>
    
    	<bean id="sessionTimeoutCheck" class="com.yilidi.o2o.schedule.impl.SessionTimeoutCheck"></bean>

</beans>