
/*升级VIP*/
.vip{width: 100%;background: #f1153a;}
.banner img{width: 100%;}
.c-box{width: 100%;height: 100%;padding: 0 .25rem;overflow: hidden;}
.vip-buy{width: 100%;background: url(../images/vip/vip_border.png) no-repeat center bottom;background-size: contain;}
.vip-buy .icon{display: block;width: .42rem;height: .25rem;background: url(../images/vip/vip_icon.png) no-repeat center center;background-size: contain;margin: 0 auto;margin-top: .12rem;}
.vip-buy .buycon{width: 2.92rem;height: .7rem;line-height: .7rem;text-align: center;margin: .22rem auto;font-size: .3rem;background: url(../images/vip/vip_buy.png) no-repeat center center;background-size: contain;color: #fff;font-weight: 900;}
.vip-buy .buyp{display: block;width: 5.5rem;height: .8rem;line-height: .34rem;margin: 0 auto;font-size: .24rem;color: #fff;}
.vip-picter{width: 7rem;margin:0 auto;margin-top: .2rem;overflow: hidden;}
.vip-pic{width: 7rem;/*display: flex;display: -webkit-box;text-align: center;*/margin-bottom: .1rem;overflow: hidden;}
.vip-pic .piccon{width: 1.27rem;height: 2.1rem;font-size: .26rem;position: relative;float: left;}
.picf .piccon{background: #3b5ec4;}
.vip-pic .piccon .icon{display: block;margin-top: .46rem;margin: .12rem auto;position: absolute;bottom: 1.1rem;left: 50%;}
.picf .piccon .icon{width: .49rem;height: .29rem;background: url(../images/vip/vip_icon1.png) no-repeat ;background-size: contain;margin-left: -.24rem;}
.vip-pic .piccon p{width: 100%;text-align: center;margin: .12rem auto;font-size: .26rem;color: #fff;position: absolute;bottom: .68rem;}
.vip-pic .piccon .vip-btn{padding: .12rem;text-align: center;border-radius: .06rem;background: #ff5000;color: #fff;font-size: .22rem;position: absolute;bottom: .13rem;left: 50%;margin-left: -.5rem;}
.vip-pic ul{width:5.73rem;height: 2.1rem;background: #fff;padding: .08rem;float: left;}
.vip-pic ul li{float: left;width: 2.65rem;}
.vip-pic ul li img{width: 100%;}
.vip-pic ul li.vip-add{width: .25rem;height: 2.1rem;position: relative;}
.vip-pic ul .vip-add img{width: .25rem;height: .25rem;overflow: auto;margin: auto;position: absolute;top: 0; left: 0rem; bottom: 0; right: 0;}
.pics .piccon{background: #1dc8a6;}
.pics .piccon .icon{width: .51rem;height: .46rem;background: url(../images/vip/vip_icon2.png) no-repeat ;background-size: contain;margin-left: -.26rem;}
.pict .piccon{background: #ffcc00;}
.pict .piccon .icon{width: .37rem;height: .51rem;background: url(../images/vip/vip_icon3.png) no-repeat ;background-size: contain;margin-left: -.18rem;}
/*平台较量*/
.c-con{width: 100%;}
.c-con .smalltit{width: 2.4rem;height:.98rem;margin: 0 auto;line-height: .98rem;text-align: center;color: #fff;font-size: .28rem;background: url(../images/vip/vip_titbg.png) no-repeat center center;background-size: contain;}
.c-con .c-item{width: 100%;height: 2.37rem;background:#fff;display: flex;display: -webkit-box;margin-bottom: .08rem;position: relative;}
.item-leftbg{width: .5rem;height: 2.37rem;background: url(../images/vip/vip_itenbg_left.png) no-repeat left top;background-size: .51rem .57rem;position: absolute;left: 0;}
.item-rightbg{width: .5rem;height: 2.37rem;background: url(../images/vip/vip_itenbg_right.png) no-repeat right bottom;background-size: .51rem .57rem;position: absolute; right: 0;}
.item-mid{width: 5.2rem;margin: 0 auto; }
.item-mid dt{float: left; width: 2.4rem;height: 2.37rem;text-align: right;background: url(../images/vip/vip_item.png) no-repeat center center;background-size: contain;position: relative;}
.item-mid dt img{width: 50%; height: 50%;overflow: auto;margin: auto;position: absolute;top: 0; left: -.3rem; bottom: 0; right: 0; }
.item-mid .vip_item1 img{width: .74rem;height: 1.83rem;}
.item-mid .vip_item2 img{width: 1.12rem;height: 1.66rem;}
.item-mid .vip_item3 img{width: 1.62rem;height: 1.52rem;}
.item-mid .vip_item4 img{width: .84rem;height: 1.91rem;}
.item-mid dd{float: left;margin-left: .32rem;}
.item-mid dd p{font-size: .24rem;line-height: .4rem;}
.item-mid dd .item-name{font-size: .3rem;margin-top: .22rem;}
.item-mid dd .item-size{font-size: .2rem;margin-bottom: .1rem;color: #a9a9a9;}
.item-mid dd .colff5{color: #FF5000;}
.item-table{width: 100%;height: 3.4rem;background: url(../images/vip/vip_table.png) no-repeat ;background-size: 100% 3.4rem;padding:.1rem;}
.item-tab{width: 100%;height: 2.8rem;font-size: .24rem;text-align: center;}
.item-tab tr{height: .79rem;vertical-align: middle;}
.item-tab tr td{vertical-align: middle;}
.item-tab thead tr td{ position: relative;vertical-align: middle;color: #5573cc;}
.item-tab thead tr td .icon{display: block;width: .17rem;height: .2rem;background: url(../images/vip/vip_tablebg.png) no-repeat;background-size: 100%;position: absolute;right: 0;bottom: 0;}
.item-tab thead tr td.colff3{color: #ff3c00;}
.item-tab tr td{border: 1px solid #f88d9f;}
.item-tab thead tr .item-tabcon{width: 2rem;background: url(../images/vip/vip_tabletr.png) no-repeat;background-size: 2rem .85rem;position: relative;}
.item-tab thead tr .item-tabcon .span2{position: absolute;bottom: .05rem;left: .1rem;}
.item-tab thead tr .item-tabcon .span1{position: absolute;top: .05rem;right: .1rem;}
/*活动规则*/
.act{padding: .32rem .1rem;border: 1px solid #fff;border-radius: .2rem;margin-top: .46rem;position: relative;margin-bottom: 1.53rem;}
.act .act-tit{width: 1.4rem;text-align: center;font-size: .28rem;position: absolute;left: .32rem;top: -.14rem;background: #f1153a;color: #fff;}
.act ul li{font-size: .25rem;line-height: .5rem;color: #fff;}
/*新手专享*//*注册有礼*/
.exclu{background: #9d47f0;}
.exclu .banner,.regift .banner{position: relative;}
.exclu .banner label{display: block;width: 2.11rem;height: .68rem;line-height: .42rem;background: #ff5000;border-radius: .1rem;position: absolute;right: .76rem;bottom: .2rem;box-shadow:2px 0 2px #b9b9b9, /*右边阴影*/0 2px 2px #b9b9b9; /*底边阴影*/ display: table-cell; vertical-align: middle; text-align: center;}
.regift .banner label{display: block;width: 2.11rem;height: .7rem;line-height: .45rem;background: #ff5000;border-radius: .1rem;position: absolute;right: .45rem;bottom: .45rem;box-shadow:2px 0 2px #b9b9b9, /*右边阴影*/0 2px 2px #b9b9b9; /*底边阴影*/ display: table-cell; vertical-align: middle; text-align: center;}
.exclu .banner .exc-btn,.regift .banner .reg-btn{width: 1.94rem;height: .55rem;border: 1px dashed #fff;color: #fff;font-size: .28rem;border-radius: .05rem;}
.exc-con .smalltit{background: url(../images/exclisive/exc_titbg.png) no-repeat center center;background-size: contain;}
.exc-con .c-item{width: 100%;height: 2.37rem;background:#fff;display: flex;display: -webkit-box;margin-bottom: .08rem;position: relative;}
.exc-con .item-leftbg{width: .51rem;height: 2.37rem;background: url(../images/exclisive/exc_itenbg_left.png) no-repeat left top;background-size: .51rem .57rem;position: absolute;left: 0;}
.exc-con .item-rightbg{width: .51rem;height: 2.37rem;background: url(../images/exclisive/exc_itenbg_right.png) no-repeat right bottom;background-size: .51rem .57rem;position: absolute; right: 0;}
.exc-con .item-table{background: url(../images/exclisive/exc_table.png) no-repeat ;background-size: 100% 3.4rem;}
.exc-con .item-tab tr{border: 1px solid #c18af6;}
.exc-con .item-tab tr td{border: 1px solid #c18af6;}
.exc-con .item-tab thead tr td{ position: relative;}
.exc-con .item-tab thead tr td .icon{display: block;width: .17rem;height: .2rem;background: url(../images/exclisive/exc_tablebg.png) no-repeat;background-size: 100%;position: absolute;right: 0;bottom: 0;}
.exc-con .item-tab thead tr .item-tabcon{width: 2rem;background: url(../images/exclisive/exc_tabletr.png) no-repeat;background-size: 2rem .85rem;position: relative;}
.exc-con .act{padding-top: .54rem;border: 0;border-radius: 0;border-top: 1px solid #fff;}
.exc-con .act .act-tit{width: 1.4rem;text-align: center;font-size: .28rem;position: absolute;left: 50%;top: -.14rem;background: #9d47f0;color: #fff;margin-left: -.7rem;}
.vipbtn{width: 2.47rem;height: .7rem;line-height: .3rem;border-radius: .7rem;margin: .2rem auto;border: 1px dashed #ffea01;}
.vipbtn input{width: 2.27rem;height: .5rem;border-radius: .5rem;margin: .1rem;background: #ffea01;font-size: .25rem;}
/*活动说明*/
.direc{padding:.18rem;font-size: .24rem;background: #fff;line-height: .48rem;}
/*合伙人加盟*/
.parner{background: #f5f5f5;}
.parner .smalltit{width: 3.34rem;height: 1.22rem;line-height: 1.2rem;background: url(../images/one_advant_top.png) no-repeat left center;background-size: 1.18rem 1.22rem;}
.parner .smalltit h3{text-align: right;color: #056690;font-size: .35rem;}
.advant ul{width: 6.5rem;height: 2.24rem;margin: .22rem auto;}
.advant ul li{width: 2.04rem;height: 2.25rem;float: left;font-size: .15rem;font-family: "黑体";font-weight: 900;color: #fff;margin-right: .15rem;text-align: center;padding: .19rem; text-indent: -999rem;}
.advant ul li:nth-child(1){background: url(../images/one_admida.png) no-repeat center center;background-size: contain;}
.advant ul li:nth-child(2){background: url(../images/one_adbotb.png) no-repeat center center;background-size: contain;}
.advant ul li:nth-child(3){background: url(../images/one_adbotc.png) no-repeat center center;background-size: contain;margin-right: 0;}
.advant4{width: 100%;height: 4.02rem;background: url(../images/one-advantbg.png) no-repeat center center;background-size: 100% 100%;}
.advant-con{width: 6.53rem;margin: 0 auto;}
.advant4 img{width: 2.29rem;margin:.3rem auto;float: left;}
.advant4 ul{width: 4rem;height: 2.24rem;float: left;margin-top: 1.1rem;margin-left: .24rem;}
.advant4 ul li{font-size: .28rem;line-height: .34rem;color: #fff;}
/*合伙人*/
.partner{width: 100%;}
.partner p{display: block;width: 5.74rem;height: .7rem;line-height: .7rem;font-size: .24rem;margin: 0 auto;background: #fff url(../images/partner.png) no-repeat .15rem center;background-size: .36rem;text-indent: .5rem;border-radius: .7rem;margin-top: -.35rem;text-align: center;}
.story-item{margin-bottom: .15rem;text-align: center;}
.story-item .story-tit{position: relative;overflow: hidden;}
.story-item .story-tit h3{color: #fff;font-size: .26rem;text-align: center;margin: .24rem 0;background: #aae0f8; display: inline-block;padding: .1rem;}
.story-item .story-tit .icon-left{display: inline-block;width: .37rem;height: .25rem; 
position: absolute;top:50%;margin-top: -.12rem;margin-left: -.47rem;
background: url(../images/one-titbg1.png) no-repeat left center;background-size: contain;}
.story-item .story-tit .icon-right{display: inline-block;width: .37rem;height: .25rem; 
position: absolute;top:50%;margin-top: -.12rem;margin-left: .1rem;
background: url(../images/one-titbg2.png) no-repeat right center;background-size: contain;}
.story-item .story-con p{font-size: .24rem;line-height: .44rem;text-indent: .48rem;text-align: justify;}
/*联系*/
.contact{margin-top: .75rem;}
.contact h3{font-size: .34rem;text-align: center;font-weight: 900;}
.contact-con{width: 3.4rem;margin: 0 auto;line-height: .4rem;margin-top: .48rem;}
.contact-con p{text-align: left;font-size: .24rem;}
footer{margin-top: .55rem;}
/*注册有礼*/
.regift{background-color: #b4e6e7;}
.regift .c-box{padding:0 0;}
/*领取说明*/
.rec-ins{border: 1px dashed #29aaa1;border-radius: .1rem; width:96%; margin: 0 auto;position: relative;margin-top: .3rem;}
.rec-tit{position: absolute;top:-0.16rem;left:0;right:0;width:3.27rem;height:0.32rem;background: url("../images/regift/titbg.jpg")  no-repeat center center;background-size: 100% auto; margin:0 auto;z-index:99;}
.rec-tit h3{font-size: .34rem;color:#29aaa1;text-align: center;line-height: .46rem;font-weight: bold;}
.rec-ins ul{padding: .3rem 0 .15rem .1rem;}
.rec-ins ul li{font-size:.28rem; color:#333333;text-align: left;}
.rec-ins ul li strong{font-size: .34rem;}
.rec-ins ul li span{font-size:.21rem;display:inline-block;width:.28rem;height:.28rem;text-align:center;border-radius:.28rem;border: 1px solid #333;}
/*平台较量*/
.tit{width:3.27rem;height:0.32rem;background: url("../images/regift/titbg.jpg")  no-repeat center center;background-size: 100% auto; margin:0 auto;margin-top: .32rem;margin-bottom: .32rem;}
.tit h3{font-size: .34rem;color:#29aaa1;text-align: center;line-height: .46rem;font-weight: bold;}
.r-box{height:2.93rem;}
.r-item-price{background-color: #fff;text-align: left;padding-left: .1rem; width: 25%;height: 2.93rem;position: relative;float:left;}
.icon-price{width:1.08rem;height:1.162rem;padding-top:.37rem;text-align:center;background: url("../images/regift/pricebg.png") no-repeat center center;background-size:1.08rem 1.162rem;color:#fff;font-size: .18rem;position: absolute; top:-.046rem;color:#fff;}
.icon-price h4{font-size: .18rem;}
.icon-price h5 strong{font-size: .22rem;}
.r-item-price p{font-size: .21rem;color:#ff5000;line-height:.32rem; }
.r-pro-det{margin-top:1.16rem;text-align: left;}
.price-r .r-pro-det{float: right;}
.r-item-price p.r-size{font-size: .24rem;color:#8b8b8b;line-height: .42rem;}
.r-item-price p.r-name{font-size: .24rem;color:#333;line-height: .28rem;}
.r-item-pro{width: 25%;background-color: #73d2cb;text-align: center;padding-top: .32rem;position: relative;float:left;height:2.93rem;}
.pro1 img{width:1.23rem;height:2.36rem; }
.r-leaf1{position: absolute;left: .16rem;bottom: .05rem; }
.r-leaf1 img{width: .78rem;height:.56rem;}
.pro2 img{width:1.61rem;height: 2.36rem;}
.pro3 img{width: 1.54rem;height: 2.51rem;}
.pro4 img{width: 1.51rem;height: 2.51rem;}
.r-leaf2{position: absolute;left: -.3rem;bottom:0;}
.r-leaf2 img{width: .48rem;height: .55rem;}
.r-leaf3{position: absolute;right: 0;top:.2rem;}
.r-leaf3 img{width: .44rem;height: .68rem;}
.r-leaf4{position: absolute;left: .1rem;bottom:-.1rem;}
.r-leaf4 img{width: .86rem;height: .52rem;}
.price-r{text-align:right;padding-right: .1rem; width: 25%;height: 2.93rem;position: relative;float:left;}
.price-r .icon-price{right:.34rem;}
.arrow-left {width: 0;    height: 0;    border-bottom: .2rem solid transparent; /* left arrow slant */    border-top: .2rem solid transparent; /* right arrow slant */
    border-right: .2rem solid #73d2cb; /* bottom, add background color here */    font-size: 0;    line-height: 0;    position: absolute;    top:1.34rem;    left:-.18rem;
}
.arrow-right {width: 0;    height: 0;    border-bottom: .2rem solid transparent; /* left arrow slant */    border-top: .2rem solid transparent; /* right arrow slant */
     border-left: .2rem solid #73d2cb; /* bottom, add background color here */    font-size: 0;    line-height: 0;    position: absolute;    top:1.34rem;    right:-.18rem;    z-index: 2;
}
.v-box{height: 3.4rem;width: 100%;position: relative;background-image:url("../images/regift/bg_36.png"),url("../images/regift/bg_40.png"),url("../images/regift/bg_33.png"),url("../images/regift/bg_40.png");background-position:left .52rem,.5rem 2.16rem, 6.5rem 1.8rem, top right;background-size: .53rem .38rem,.61rem .41rem,.34rem .19rem,.61rem .41rem ;background-repeat: no-repeat;}
.v-con{height: 3.4rem;width:5.55rem;margin:0 auto;position:absolute;top:-.5rem;left:0;right:0;background: url("../images/regift/bg_35.png") center center no-repeat;background-size:5.55rem 3.4rem; padding: .82rem .3rem .3rem .3rem;}
.v-con p{text-align:left;font-size: .34rem;color:#000;line-height: .5rem;}
.v-con p span{display:inline-block;width:.36rem;height:.36rem;text-align:center;line-height:.36rem;color:#fff;border-radius: .18rem;background-color: #ff5000;}
.v-con p strong{color:#ff5000;}
/*我要成为VIP*/
.b-btn{width:3.25rem;margin:0 auto;margin-bottom:.36rem;background-image: url("../images/regift/bg_49.png"),url("../images/regift/bg_52.png");background-repeat: no-repeat;background-position: left center , right center ;background-size: .32rem .28rem,.37rem .22rem; }
.b-btn .vip-btn{width:2.33rem;height:.6rem;text-align:center;margin-left:.46rem;background-color: #ff5000;border-radius: .3rem;font-size:.34rem;color:#fff;font-family: "Source Han Sans CN Bold";}
.r-act-tit{width:6.22rem;height:.88rem;padding-top: .1rem;margin:0 auto;background-image: url("../images/regift/bg_55.jpg"),url("../images/regift/bg_59.jpg");background-position: center top,center bottom;background-size: 6.22rem .4rem,6.22rem .02rem;background-repeat: no-repeat;}
.r-act-con{width:6.24rem;height:5.66rem;padding:.3rem .4rem;margin:0 auto;margin-top:.1rem;}
.r-act-con p{font-size: .28rem;color:#333;line-height: .46rem;text-align: left;}
.bot-img{padding: 0;margin: 0;height:.33rem;background-image: url("../images/regift/bg_66.png");background-size: 100% auto;margin-top: .1rem;}
/*购买套餐升级VIP*/
.market{background-color: #f0e7d8;}
.clear{clear: both;}
.m-buy-tit{width:100%; background: url("../images/market/m_08.png") no-repeat left .8rem;background-size: .73rem .9rem ;  }
.m-arrow{text-align: center;}
.m-arrow img{height:.24rem;}
.m-tit{width:5.75rem;height: .34rem; margin:0 auto;background: url("../images/market/titbg.png") no-repeat center center;background-size: 100% auto;}
.m-tit h3{color: #f1662e;line-height: .34rem;font-size: .34rem;font-weight: bold; text-align: center;}
.m-direc{width:5.75rem;margin:0 auto;padding-top:.28rem;padding-bottom: .15rem;  }
.m-direc p{color:#f1662e;font-size: .28rem;line-height: .42rem;text-align: left;font-weight: bold;}
.m-direc strong{font-size: .34rem;}
.m-direc-bg{width: 100%;height: 2px;background: url("../images/market/mline.png") no-repeat center bottom;background-size: 6.72rem 2px; }
.m-picter{width: 100%;background-image: url("../images/market/m_18.png"),url("../images/market/m_21.png");background-repeat:no-repeat;background-position: center top,right top;background-size:2.21rem 1.43rem,.9rem .87rem;padding-top: 1.43rem;margin-top: .4rem;}
.m-pic{width: 100%; position: relative;}
.m-pic-tit{width:1.32rem;height: 1.1rem; padding-left:.06rem;font-size:.24rem;color: #fff;background: url("../images/market/tcbg.png") no-repeat center center;background-size: 1.32rem 1.1rem;text-align: left;position: absolute;left: 0;top:0;}
.m-pic-tit p{line-height:.38rem;text-align: left;}
.m-pic-tit .m-vip-btn{color: #fff;text-align: left;padding: 0;line-height:.68rem;font-size: .24rem;vertical-align: middle;}
.m-pic-con{width: 6.61rem;margin: 0 auto;}
.m-pic-con img{width: 6.61rem;height: 3rem;}
.m-pic-p{text-align: left;padding: .1rem 0;font-size: .24rem;height: 1.2rem;}
.m-pic-p div{float: left;width: 50%;}
.m-pic-p strong{font-size: .3rem;font-weight: bold;}
.m-pic-p .m-pic-price{color: #333;line-height: .37rem;}
.m-pic-p .m-pic-name{color:#000;line-height: .4rem;font-weight: bold; }
/*平台较量*/
.m-big-tit{padding: .5rem 0;margin-bottom:.16rem;text-align: center;background-image:  url("../images/market/m_32.png"),url("../images/market/m_31.png");background-size:.89rem .89rem,.97rem .83rem;background-position: left bottom,right top;background-repeat: no-repeat;}
.m-big-tit .m-tit{width:5.84rem;height: .34rem; margin:0 auto;background: url("../images/market/titbg_40.png") no-repeat center center;background-size: 100% auto;}
.m-item-pro{background-color:#ffd048;}
.m-item-pro .arrow-left{ border-right: .2rem solid #ffd048;}
.m-item-pro .arrow-right{border-left: .2rem solid #ffd048;}
/*会员特权*/
.m-big-tit2{margin-top:.1rem;margin-bottom:.1rem;background-image:url("../images/market/m_43.png"),url("../images/market/m_41.png");background-size:1.06rem 1.13rem,1.24rem .78rem;background-position: left bottom,right top;background-repeat: no-repeat;}
.m-box { height: 3.78rem;  width: 100%; position: relative;}
.w-img1{position: absolute; top:1.5rem;left: .05rem;z-index: 2;}
.w-img1 img{width:.98rem;height: .48rem;}
.w-img2{position: absolute; top:0;right: .05rem;z-index: 2;}
.w-img2 img{width:1.14rem;height: .52rem;}
.m-box .v-con{height: 3.78rem; width: 6.74rem; margin: 0 auto; position:absolute;top:0;left:0;background: url(../images/market/cbg.png) center center no-repeat;background-size: 6.74rem 3.78rem; padding: .4rem 1rem .4rem 1.4rem;}
/*活动规则*/
.m-act .m-big-tit3{background-image:url("../images/market/m_48.png"),url("../images/market/m_47.png");background-size:.7rem 1.02rem,.82rem .93rem;background-position: left bottom,right top;background-repeat: no-repeat;}
.m-act-p{width: 100%;}
.m-act ul{width: 90%;margin:0 auto;margin-bottom: .5rem;}
.m-act ul li{font-size:.26rem;color:#333;line-height: .46rem;text-align: left;}
.m-act .bot-img{height:.26rem; background-image: url("../images/market/bbg.png");}
/*嗨milk*/
.hmilk{background-color: #5869a8;}
/*一元抢*/
.hmilk header .banner{position: relative;}
.yyg{width:6.76rem ;height:3.62rem; padding:.28rem .2rem .32rem .2rem;background: url("../images/hmilk/yygbg_03.png") no-repeat center center;background-size: 100% auto;position: absolute;left:.36rem;bottom:-2.82rem; }
.yyg-top{margin: 0 auto;text-align: center;}
.yyg-top img{width:3.1rem;height: .48rem; }
.yyg-bot{width: 100%;}
.yyg-bot div{width: 50%;float:left;text-align: center;}
.yyg-bot-pro img{width:3.31rem;height: 2.16rem;margin-bottom: .05rem; }
.yyg-bot-det{padding-left: .7rem;padding-top: .3rem;}
.yyg-bot-det p{line-height:1;margin-bottom: .13rem;text-align: left;}
.h-pro-name{font-size:.28rem;color:#333;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.h-vip-price{font-size:.28rem;color:#ff3a30;}
.yyg-bot-det .h-pro-ins{font-size:.2rem;color:#8b8b8b;margin-bottom: 0;}
.h-buy-btn img{width:1.4rem;height: .43rem;}
/*儿童奶*/
.clear{clear:both;}
.h-tit {width: 100%;text-align: center;padding-top: .1rem;padding-bottom: .24rem;}
.h-tit img{width: 4.72rem;height:.62rem;}
.h-box{width:100%;height:4rem;padding-left:4%;padding-right: 4%;}
.h-pro{width:48%;height:4.4rem;background: url("../images/hmilk/probg_03.png") no-repeat center center;background-size: 100% auto;float: left;}
.prol{margin-right:4%;}
.pror{margin-right: 0;}
.h-pro-img{width:3.25rem;text-align: center;padding-top:.52rem;padding-bottom: .14rem;}
.h-pro-img  img{height: 2rem;width: auto;}
.h-pro-det{position: relative;padding-left: .14rem;}
.h-pro-det p{margin-bottom: .04rem;}
.h-pro-det .h-buy-btn{position: absolute;right:.13rem;bottom:-.1rem;}
.h-pro-size{font-size: .22rem;color:#8b8b8b;}
.h-pro-det .h-normal-price{font-size: .2rem;color:#333;margin-top: .1rem;margin-bottom: 0;}
/*活动规则*/
.h-act .h-tit img{width: 6.72rem;height: .29rem;}
.h-act .h-act-p{font-size: .24rem;color: #fff;}
.h-act .h-act-p ul{padding: 0 .24rem .36rem .24rem;line-height: .4rem;}
/*分享功能待开放*/
.shareCon{
    width: 100%;
    text-align: center;
    padding-top: 40%;
}
.shareCon img{width: 2.02rem;height: 1.67rem;}
.shareText{font-size: .36rem;color:#8b8b8b;margin-top: .53rem;}
/*分享有礼页面*/
.share banner{
    position: relative;
}
.shareContent{width: 100%;height:auto;background-image: url("../images/share/shareconbgtop.png"),url("../images/share/shareconbgbot.png");background-size: 100% 2.47rem,100% 1.52rem;
background-repeat: no-repeat;background-position: top center,bottom center;background-color: #faf649;padding-bottom: 1.52rem;}
.shareContent #canGetGift{
    text-align: center;
    font-size: .34rem;
    color:#fff;
    line-height: .38rem;
    padding-top: .24rem;
    padding-bottom: .36rem;
}
.shareContent .shareMainConBox{
    margin: 0 auto;
    width: 7.15rem;
    height: auto;
    padding: .07rem;
    background-color: #fff;
    border-radius: .36rem;
}
.shareMainConBox #shareMainCon{
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: .36rem;
    background-color: #fff;
    border:.14rem solid #e33939;
}
.champion{
    font-size: .25rem;
    text-align: center;
    line-height: .34rem;
    padding: .14rem 0;
}
#championTele{
    color:#ff3a30;
}
#rankTab{
    width: 100%;
}
#rankTab ul{
 width: 90%;
 margin: 0 auto;
 border:1px solid #ff3a30;
 border-radius: 4px;
 height: .68rem;
}
#rankTab ul li{
    float: left;
    width: 50%;
    font-size: .3rem;
}
#rankTab ul li a{
    width: 100%;
    display: inline-block;
    color:#ff3a30;
    line-height: .66rem;
    text-align: center;
}
#rankTab ul li .active{
    background-color: #ff3a30;
    color:#fff;
}
.firstTab{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.secondTab{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.myInviteResult{
    width: 100%;
    background: url("../images/share/nopaper.png") no-repeat center center;
    background-size: 100% auto;
    text-align: center;
    padding-top: .52rem;
    padding-bottom: .28rem;
    margin-top: .14rem;
}
.myInviteResult h4{
    font-size: .7rem;
    color:#ff3a30;
    line-height: 1;
    margin-bottom: .28rem;
}

.myInviteResult p{
    font-size: .32rem;
    color:#8b8b8b;
    line-height: 1;
    margin-bottom: .28rem;
}
.noInvite{
    width: 100%;
    text-align: center;
    color:#cccccc;
    background-color: #fff;
    padding-top: .34rem;
    padding-bottom: .46rem;
    border-bottom-right-radius:.14rem;
    border-bottom-left-radius:.14rem;
}
.noInvite img{
    width: 2.36rem;
    height: 1.34rem;
    margin-bottom: .34rem;
}
.noInvite h3{
    font-size: .5rem;
    line-height: 1;
    margin-bottom: .18rem;
}
.noInvite p{
    font-size: .25rem;
    line-height: 1;
}
.inviteList{
    width: 90%;
    margin: 0 auto;
}
.inviteList li{
    width: 100%;
    height: 1.04rem;
    border-bottom: 1px solid #dcdcdc;
}
.rankItem span{
    float: left;
    font-size: .34rem;
    color:#333;
    line-height: 1.04rem;
}
.rankItem .rankImg{
    float: left;
    width: .76rem;
    height: .76rem;
    border-radius: 50%;
    margin-top: .14rem;
    margin-left: .34rem;
    text-align: center;
    display: table;
    vertical-align: middle;
    margin-right: .48rem;
}
.rankItem img{
    display: table-cell;
    width: .76rem;
    height: .76rem;
    margin: 0;
}
.rankItem p{
    font-size: .25rem;
    color:#333;
}
.rankTele{
    float: left;
    line-height: 1.04rem;
}
.rankItem .rankIns{
    float: right;
    text-align: center;
    height: 1.04rem;
    line-height: 1;
}
.rankItem .rankIns p{
    color:#8b8b8b;
}
.rankItem .rankIns h4{
    color:#ff3a30;
    font-size: .34rem;
    margin-top: .18rem;
    margin-bottom: .14rem;
}
.content{
    display: none;
}
#tabRank{
    display: block;
}
.toRule{
    position: absolute;
    top:1.2rem;
    right: 0;
    width: 1.8rem;
    height: 1rem;
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
/*分享活动规则*/
.shareRule {
    width: 90%;
    margin: 0 auto;
}
.shareRule h4{
    font-size: .25rem;
    color:#333;
    line-height: .7rem;
    font-weight: bold;
}
.ruleCon{
    width: 100%;
    height: auto;
    font-size: .25rem;
    margin-bottom: .34rem;
}
.ruleOrder,.ruleText{
    float: left;
    line-height: .3rem;
}
.ruleOrder{
    height: auto;
    width: 5%;
}
.ruleText{
width: 95%;
}
.championGift{
    width: 100%;
}
.championTit{
    height: .34rem;
    font-size: .2rem;
    margin-bottom: .32rem;
    line-height: .34rem;
}
.championTit p{
    float: left;
}
.championTit .pBg{
    border-radius: .15rem;
    padding-left: .45rem;
    background-size: .22rem .22rem;
    margin-right: .12rem;
}
.pbgA{
    background:  url("../images/share/cup_03.png") no-repeat .11rem center;
    background-color: #f4c600;
}
.championTit .pBg span{
    font-weight: 500;
}
.couponImg{
    width: 4.76rem;
    height: .96rem;
    margin-bottom: .41rem;
}
.giftCon{
    width: 100%;
}
.giftConB div{
    width: 33.33%;
}
.giftPro{
    float: left;
    text-align: center;
}
.giftPro img{
    height: 1.73rem;
    width: auto;
    margin-bottom: .1rem;
}
.giftPro p{
    width: 100%;
    margin: 0 auto;
    font-size: .2rem;
    color:#797979;
    text-align: left;
    line-height: .32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.giftPro h5{
    color: #1cd0cf;
    font-size: .22rem;
    line-height: .52rem;
    margin-bottom: .2rem;
}
.pbgB{
    background:  url("../images/share/cup_10.png") no-repeat .11rem center;
    background-color: #e2e7ea;
}
.pbgC{
    background:  url("../images/share/cup_13.png") no-repeat .11rem center;
    background-color: #e7a628;
}
.giftConC div{
    width: 50%;
}
.giftConC p{
    text-align: center;
}
/*好友邀请*/
.shareInvite{
    width: 100%;
    background:url("../images/share/bgbgbg_02.png") no-repeat  center top;
    background-size: 100% auto;
}
.shareInviteTopText{
    width: 100%;
    text-align: center;
    padding-top: .6rem;
    margin-bottom: .4rem;
}
.shareInviteTopText h3{
    font-size: .42rem;
    color:#f8f6eb;
    margin-bottom: .18rem;
    font-weight:500 ;
}
.shareInviteText{
     font-size: .32rem;
     color:#f8f6eb;
 }
.toInviteText{
    width: 100%;
    text-align: center;
    margin-top: .3rem;
}
.toInviteText h4{
    font-size: .32rem;
    color:#f8f6eb;
    font-weight: bold;
}
.userImg{
    width: 1.74rem;
    height: 1.74rem;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}
.userImg img{
    width: 1.74rem;
    height: 1.74rem;
}
.vipMember{
    width: .56rem;
    height: .56rem;
    border-radius: 50%;
    background: url("../images/share/vip.png") no-repeat center center;
    background-size: .56rem .56rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
.norMember{
    width: .56rem;
    height: .56rem;
    border-radius: 50%;
    background: url("../images/share/nor.png") no-repeat center center;
    background-size: .56rem .56rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
#paperFold{
    width: 100%;
    text-align:center;
}
#paperFold img{
    width:5rem ;
    height: 2.97rem;
}
#paperUnfold{
    width: 100%;
    text-align:center;
    margin-top: .3rem;
}
#paperUnfold img{
    width:4.8rem ;
    height: 3.94rem;
}
.shareInputBox{
    width: 6.25rem;
    margin: 0 auto;
    margin-top: .1rem;
}
#toInputTele p{
    color:#fff;
    font-size: .2rem;
    text-align: center;
    line-height: .54rem;
}
.shareInputBox input{
    width: 100%;
    height: .8rem;
    border-radius: .4rem;
    text-align: center;
    font-family:"思源黑体 CN Regular";
}
.paperBtn{
    background-color: #fe4945;
    color:#f8f6ea;
    font-size: .34rem;
    line-height: .83rem;
}
#userTele{
    background-color: #fff;
    color: #8b8b8b;
    font-size: .25rem;
}
.hide{
    display: none;
}
#toInputTele{
    padding-bottom: 1.62rem;
}
#toUsePaper{
    padding-bottom: 1.92rem;
    margin-top: .2rem;
}
#toUsePaper p{
    color: #fff;
    font-size: .32rem;
    text-align: center;
    line-height: 1;
    margin-bottom: .6rem;
}
.maincon{
    width: 100%;
}
.maincon img{
    width: 100%;
    height: auto;
}