<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yilidi.o2o.product.dao.ProductClassMappingMapper">
	<resultMap id="BaseResultMap" type="ProductClassMapping">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="CLASSCODE" property="classCode" jdbcType="VARCHAR" />
		<result column="CHILDCLASSCODE" property="childClassCode"
			jdbcType="VARCHAR" />
		<result column="CREATEUSERID" property="createUserId" jdbcType="INTEGER" />
		<result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="BaseResultRelatedMap" type="ProductClassMappingRelatedInfo">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="CLASSCODE" property="classCode" jdbcType="VARCHAR" />
		<result column="CLASSNAME" property="className" jdbcType="VARCHAR" />
		<result column="CHILDCLASSCODE" property="childClassCode"
			jdbcType="VARCHAR" />
		<result column="CHILDCLASSNAME" property="childClassName"
			jdbcType="VARCHAR" />
		<result column="CREATEUSERID" property="createUserId" jdbcType="INTEGER" />
		<result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, CLASSCODE,CHILDCLASSCODE,CREATEUSERID, CREATETIME
	</sql>

	<insert id="saveProductClassMapping" useGeneratedKeys="true"
		parameterType="java.util.List">
		insert into
		P_PRODUCT_CLASS_MAPPING
		(CLASSCODE,CHILDCLASSCODE,CREATEUSERID,CREATETIME)
		values
		<foreach collection="productClassMappingList" item="productClassMapping"
			index="index" separator=",">
			(#{productClassMapping.classCode},
			#{productClassMapping.childClassCode},
			#{productClassMapping.createUserId},
			#{productClassMapping.createTime})
		</foreach>
	</insert>

	<delete id="deleteAllProductClassMapping" parameterType="java.lang.String">
		delete
		from
		P_PRODUCT_CLASS_MAPPING
		where
		CLASSCODE =
		#{classCode,jdbcType=VARCHAR}
	</delete>

	<select id="listProductClassMapping" resultMap="BaseResultRelatedMap"
		parameterType="java.lang.String">
		SELECT
		P.ID as ID,
		P.CLASSCODE as CLASSCODE,
		PC.CLASSNAME as CLASSNAME,
		P.CHILDCLASSCODE as CHILDCLASSCODE,
		PH.CLASSNAME as CHILDCLASSNAME,
		P.CREATEUSERID as CREATEUSERID,
		P.CREATETIME as CREATETIME
		FROM
		P_PRODUCT_CLASS_MAPPING P
		left join P_PRODUCT_CLASS PC on PC.CLASSCODE
		= P.CLASSCODE
		left join P_PRODUCT_CLASS PH on PH.CLASSCODE =
		P.CHILDCLASSCODE
		<where>
			1=1
			<if test="classCode != null">
				and P.CLASSCODE = #{classCode, jdbcType=VARCHAR}
			</if>
			<if test="statusCode != null">
				and PH.STATUSCODE = #{statusCode, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="listByClassCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		P_PRODUCT_CLASS_MAPPING
		WHERE
		CLASSCODE =
		#{classCode,jdbcType=VARCHAR}
	</select>	
</mapper>