<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yilidi.o2o.system.dao.RolePermissionHistoryMapper" >
  <resultMap id="BaseResultMap" type="RolePermissionHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ROLEID" property="roleId" jdbcType="INTEGER" />
    <result column="PERMISSIONIDS" property="permissionIds" jdbcType="VARCHAR" />
    <result column="OPERATEUSERID" property="operateUserId" jdbcType="INTEGER" />
    <result column="OPERATETIME" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATETYPE" property="operateType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLEID, PERMISSIONIDS, OPERATEUSERID, OPERATETIME, OPERATETYPE
  </sql>
  
  <insert id="save" parameterType="RolePermissionHistory" >
    insert into S_ROLE_PERMISSION_HISTORY (ROLEID, PERMISSIONIDS, 
      OPERATEUSERID, OPERATETIME, OPERATETYPE
      )
    values (#{roleId,jdbcType=INTEGER}, #{permissionIds,jdbcType=VARCHAR}, 
      #{operateUserId,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP}, #{operateType,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="list" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from S_ROLE_PERMISSION_HISTORY
  </select>
  
  <select id="listByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from S_ROLE_PERMISSION_HISTORY
    where ROLEID = #{roleId, jdbcType=INTEGER}
  </select>
  
</mapper>