<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yilidi.o2o.system.dao.UserRoleHistoryMapper" >
  <resultMap id="BaseResultMap" type="UserRoleHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USERID" property="userId" jdbcType="INTEGER" />
    <result column="ROLEIDS" property="roleIds" jdbcType="VARCHAR" />
    <result column="OPERATEUSERID" property="operateUserId" jdbcType="INTEGER" />
    <result column="OPERATETIME" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATETYPE" property="operateType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERID, ROLEIDS, OPERATEUSERID, OPERATETIME, OPERATETYPE
  </sql>
  
  <insert id="save" parameterType="UserRoleHistory" >
    insert into S_USER_ROLE_HISTORY (USERID, ROLEIDS, OPERATEUSERID, OPERATETIME, OPERATETYPE)
    values
     (
    	#{userId,jdbcType=INTEGER},
		#{roleIds,jdbcType=VARCHAR}, 
      	#{operateUserId,jdbcType=INTEGER}, 
      	#{operateTime,jdbcType=TIMESTAMP}, 
      	#{operateType,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="list" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from S_USER_ROLE_HISTORY
  </select>
  
  <select id="listByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from S_USER_ROLE_HISTORY
    where USERID = #{userId, jdbcType=INTEGER}
  </select>
  
</mapper>