@charset "utf-8";
html{color:#000}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video {display: inline-block;*display: inline;*zoom: 1;}
body,button,input,select,textarea{font:12px/1.5 "微软雅黑",tahoma,arial,\5b8b\4f53;}
input,select,textarea{font-size:100%;vertical-align:middle}
textarea{resize:none}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;vertical-align:middle}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
ins,a {text-decoration:none;}
body .hide {display:none;}
.h0{height:0;line-height:0}
.h10{height:10px;line-height:0}
.va{vertical-align: bottom}
/*文字排版*/
.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.fb{font-weight:bold}.fn{font-weight:normal;}.t2{text-indent:2em;}.unl{text-decoration:underlline;}.no_unl{text-decoration:none;}
/*网格*/
.grid-6{width:60px}.grid-7{width:70px}.grid-8{width:80px}.grid-10{width:100px}.grid-11{width:110px}.grid-12{width:120px}.grid-13{width:130px}.grid-14{width:140px}.grid-15{width:150px}.grid-16{width:160px}.grid-17{width:170px}.grid-18{width:180px}.grid-19{width:190px}.grid-20{width:200px}.grid-21{width:210px}.grid-22{width:220px}.grid-23{width:230px}.grid-24{width:240px}.grid-25{width:250px}.grid-26{width:260px}.grid-27{width:270px}.grid-28{width:280px}.grid-29{width:290px}.grid-30{width:300px}.grid-31{width:310px}.grid-32{width:320px}.grid-33{width:330px}.grid-34{width:340px}.grid-35{width:350px}.grid-36{width:360px}.grid-37{width:370px}.grid-38{width:380px}.grid-39{width:390px}.grid-40{width:400px}.grid-41{width:410px}.grid-42{width:420px}.grid-43{width:430px}.grid-44{width:440px}.grid-45{width:450px}.grid-46{width:460px}.grid-47{width:470px}.grid-48{width:480px}.grid-49{width:490px}.grid-50{width:500px}.grid-51{width:510px}.grid-52{width:520px}.grid-53{width:530px}.grid-54{width:540px}.grid-55{width:550px}.grid-56{width:560px}.grid-57{width:570px}.grid-58{width:580px}.grid-59{width:590px}.grid-60{width:600px}.grid-61{width:610px}.grid-62{width:620px}.grid-63{width:630px}.grid-64{width:640px}.grid-65{width:650px}.grid-66{width:660px}.grid-67{width:670px}.grid-68{width:680px}.grid-69{width:690px}.grid-70{width:700px}.grid-71{width:710px}.grid-72{width:720px}.grid-73{width:730px}.grid-74{width:740px}.grid-75{width:750px}.grid-76{width:760px}.grid-77{width:770px}.grid-78{width:780px}.grid-79{width:790px}.grid-80{width:800px}.grid-81{width:810px}.grid-82{width:820px}.grid-83{width:830px}.grid-84{width:840px}.grid-85{width:850px}.grid-86{width:860px}.grid-87{width:870px}.grid-88{width:880px}.grid-89{width:890px}.grid-90{width:900px}.grid-91{width:910px}.grid-92{width:920px}.grid-93{width:930px}.grid-94{width:940px}.grid-95{width:950px}.grid-96{width:960px}.grid-97{width:970px}.grid-98{width:980px}.grid-99{width:990px}
/*定位*/
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}.fc{ margin-left:auto; margin-right:auto;}.fl{float:left;display:inline;}.fr{float:right;display:inline;}.cb{clear:both;}.cl{clear:left;}.cr{clear:rigth;}.clearfix{zoom:1;}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.vm{verticle-align:middle;}.pr{position:relative;}.pa{position:absolute;}.zoom{zoom:1;}.hidden{visiility:hidden;}.overhidden{overflow:hidden;}
/*浮动清除*/
ul,dl{zoom:1}
ul:after, dl:after {content:"";display:block;clear:both;height:0;visibility:hidden}

/*ff按钮字体垂直居中*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0}

permission{display:none}

/*门店/商品评价页星星样式 */
.star-red,.star-grey{
	margin-right: 3px;
}
.star-grey{
	color: gray;
}
.star-orange{
	color: orange;