.system_form{padding:20px 0;width:400px}
.system_form dl{padding:4px 0}
.system_form dt{float:left;line-height:30px;padding-left:20px; text-align:left;width:auto;}
.system_form dd{margin-left:10px;}
.system_form dd .txt{padding:6px 5px}
.system_form dd .d_note{padding:6px 20px 0 0;line-height:20px;color:#959595}
.system_form span{padding:0 0 0 10px;line-height:24px;color:#959595}
.system_form span.error{padding:0 0 0 27px;background:url(/static-resource/images/base/icon_error.png) no-repeat 10px 0px;color:#f35b69}
.system_form span.right{padding:0 0 0 27px;background:url(/static-resource/images/base/icon_right.png) no-repeat 10px 0;color:#77af00}
.system_form p{padding-left:88px;margin-top:10px}
input.btn{margin:0 10px 0 0;padding:0 40px;height:35px;border:none;background-color:#63adee;cursor:pointer;font-size:18px;color:#fff}
input.btn_back{width:50px;height:25px;padding:0;background-color:#63adee;border:none;font-weight:700;color:#fff;cursor:pointer;vertical-align:middle;float:right;margin-right:22px;margin-top:4px;}
input.reset{background-color:#f1f0ef;color:#000}
.l_table_layout td{ height:40px; line-height:40px;}

@charset "utf-8";
.buyer_page{padding:10px 0 0}
.simple_table{table-layout:fixed;border-collapse:collapse}
.simple_table .logout:hover{text-decoration:underline;cursor:pointer;color:#63adee}
.simple_table th,.simple_table td{padding:5px 0;border:1px solid #e3e4e4;text-align:center;word-wrap:break-word}
.simple_table th {background:none repeat scroll 0 0 #F7F7F7;}
.simple_table td.ablue a{margin:0 3px}
.simple_table td.td_l{padding:5px 0 5px 5px;text-align:left}
.simple_table tbody tr:hover{background-color:#c8e3f8;}

.main_search{padding:15px 0 15px 15px;overflow:hidden;zoom:1}
.main_search dl,.main_search dt,.main_search dd,.main_search_btn{float:left}
.main_search dl{margin:0 20px 0 0;padding:5px 0}
.main_search dt{line-height:27px;height:27px}
.main_search .period a{margin:0 8px 0 0;cursor:pointer;color:#0274e8;line-height:24px}
.main_search .period a.cur{color:#63ADEE}
.main_search .status{padding:3px 0 0 5px}
.main_search .status input{vertical-align:-2px;margin:0 3px 0 0}
.main_search_btn{padding-top:2px}

.order_index_status{margin:0 0 10px;padding:0 10px;line-height:30px;background:#f0f0f0}
.order_index_status a{margin:0 10px 0 0;padding:0 3px;cursor:pointer;color:#0274e8}
.order_index_status a em{color:#63ADEE}
.order_index_status a.cur{background-color:#63ADEE;color:#fff}
.order_index_status a.cur em{color:#fff}
.order_index_thead{margin:0 0 10px;table-layout:fixed;background-color:#E3E4E4;text-align:center;line-height:30px}
.order_index_item{margin:0 0 10px}
.order_index_title{padding:0 10px;background:#f0f0f0;line-height:30px;overflow:hidden;zoom:1}
.order_index_title em{padding:0 20px}
.order_index_title span{float:right}
.order_index_tbody{table-layout:fixed;border-collapse:collapse;text-align:center}
.order_index_tbody td{padding:20px 0;vertical-align:top;border:1px solid #f0f0f0}
.order_index_item .price span{display:block;color:#959595}
.order_index_tbody td.order_index_product{text-align:left;padding:0;border-bottom:1px solid #fff}
.order_index_product dl{padding:15px 0;margin:-1px 0 0;border-bottom:1px solid #D9D9D9}
.order_index_product .p_img{padding-left:10px;width:102px;float:left}
.order_index_product .p_img a{display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:65px;*font-family:Arial;width:100px;height:75px;border:1px solid #dbdbdb;overflow:hidden}
.order_index_product .p_img a img{max-width:100px;max-height:75px;_height: expression(this.height > 75 ? "75" : true);vertical-align:middle}
.order_index_product .p_info{width:130px;padding:3px 0 0 10px;color:#0274e8;float:left}
.order_index_product .p_price{width:90px;float:left;text-align:center;line-height:30px}
.order_index_product .p_num{width:100px;float:right;text-align:center;line-height:30px}
.order_index_tiedsale_img {font-size: 16px;position: absolute}
.order_index_tiedsale_dl{border-top: 1px solid #FFFFFF}

.complaint_main{padding:0 10px 10px;overflow: hidden;zoom:1;}
.complaint_main .simple_table th{background:#f7f7f7}
.complaint_title{padding:10px}
.complaint_title li{float:left}
.complaint_title li a{float:left;padding:0 15px;line-height:22px}
.complaint_title li.cur a{background:#63ADEE;color:#fff}
.complaint_main .main_pagination{margin-top:10px}
.complaint_detail{width:800px}
.complaint_detail_title{margin:0 0 10px;padding:10px;background:#fff9f9;border:1px solid #ddd;line-height:24px}
.complaint_detail_title span{padding:0 20px 0 0}
.complaint_detail_box{padding:0 10px;overflow:hidden}
.complaint_detail_box li{margin:-1px 0 0;padding:10px 0;border-top:1px dashed #ddd;line-height:22px}
.complaint_detail_box p{padding:3px 0;word-break:break-all}
.complaint_detail_box h4{font-size:12px;font-weight:700}
.complaint_detail_btn{padding:10px 0 0}

.product_release{padding:20px 30px 60px}
.product_release dl{padding:3px 0}
.product_release dt{width:100px;float:left;text-align:right;line-height:26px}
.product_release dd{margin:0 0 0 105px}
.product_release dd .select,.product_release dd .txt{margin:0 6px 0 0}
.product_release_img li{float:left;margin:0 6px 0 0}
.product_release_img .img{display:block;width:125px;height:125px;border:1px dashed #e3e4e4;text-align:center; line-height:100px;}
.product_release_img a.img{background:#fcfcfc url(/static-resource/images/base/image_bg.gif) no-repeat center center;overflow:hidden;text-align:left;text-indent:-1000px;cursor:pointer}
.product_release_img .img img{max-width:100px;max-height:100px;_height: expression(this.height > 100 ? "100" : true); _width: expression(this.width > 100 ? "100" : true); line-height:100px;}
.product_release_img p{text-align:center;line-height:24px}
.product_release_img p label{padding:0 8px 0 2px;}
.product_release_img p input {vertical-align: -2px;}
.product_release_imgnote{line-height:22px;overflow:hidden;padding:10px 0 0;}
.product_release_imgnote em{color:#E94B01;float:left;text-align:right;width:65px;}
.product_release_imgnote p{color:#DF9067; margin:0 0 0 65px;}
.product_release_btn{padding:30px 0 10px;text-align:center}
.product_release_btn input,.product_release_btn a{margin:0 5px}
.product_release_btn span{padding:0 5px;font-family:"宋体"}
span.error{padding:0 0 0 27px;background:url(/static-resource/images/base/icon_error.png) no-repeat 10px 2px;color:#f35b69}
span.success{padding:0 0 0 27px;background:url(/static-resource/images/base/icon_right.png) no-repeat 10px 0;color:#77af00}

.uploadbox{width:350px}
.uploadbox p{padding:15px 0 15px 15px}
.uploadbox_btn{padding:0 0 10px;text-align:center}
.uploadbox_btn input{margin:0 4px}

.workorder_operate_button{margin:7px 8px 8px;}
.workorder_mng dt{float:left;line-height:30px;text-align:right;width:100px;padding-right:5px;}
.workorder_mng dd{line-height:30px;margin:5px 0 0 100px;padding:0;}
.workorder_leave dd label{padding:0 15px 0 3px}
.workorder_forget_card dd label{padding:0 4px;}
.workorder_save_button{padding:8px 30px;}
.workorder_table th{background:none repeat scroll 0 0 #F2F1F1;}
.workorder_leave,.workorder_overtime,.workorder_forget_card{padding:10px 1px;}
.workorder_instruction{line-height:20px;padding: 0 20px 0 31px}
.workorder_instruction h4{font-size:12px;font-weight:700}
.workorder_instruction dl{padding:2px 0}
.workorder_instruction dt{float:left;width:17px}
.workorder_instruction dd{margin-left:17px}
.workorder_title_status{background:none repeat scroll 0 0 #F0F0F0;line-height:30px;margin:8px 0 4px;padding:0 10px;}
.workorder_leaves_detail,.workorder_forget_detail{padding:30px 20px;}
.workorder_table{table-layout:fixed;border-collapse:collapse}
.workorder_table th,.workorder_table td{padding:5px 0;border:1px solid #e3e4e4;text-align:center;word-wrap:break-word}
.workorder_table th {background:none repeat scroll 0 0 #F7F7F7;}
.workorder_table td.ablue a{margin:0 3px}
.input_total_time{border:none;border-bottom: 1px solid #E7E7E7;width:30px;padding: 0 0 0 7px;}

.user_form{padding:20px 0}
.user_form em{color:red;}
.user_form dl{padding:4px 0}
.user_form dt{width:180px;float:left;text-align:right;line-height:30px}
.user_form dd{margin:0 0 0 185px;line-height:30px}
.user_form dd .txt{padding:6px 5px}
.user_form dd .d_note{padding:6px 20px 0 0;line-height:20px;color:#959595}
.user_form span.error{padding:0 0 0 27px;background:url(/static-resource/images/base/icon_error.png) no-repeat 10px 2px;color:#f35b69}
.user_form span.right{padding:0 0 0 27px;background:url(/static-resource/images/base/icon_right.png) no-repeat 10px 0;color:#77af00}
input.btn{margin:0 10px 0 0;padding:0 40px;height:35px;border:none;background-color:#63adee;cursor:pointer;font-size:18px;color:#fff}
input.btn_back{width:50px;height:25px;padding:0;background-color:#63adee;border:none;font-weight:700;color:#fff;cursor:pointer;vertical-align:middle;float:right;margin-right:22px;margin-top:4px;}
input.reset{background-color:#f1f0ef;color:#000}

.sales_quantity_setting{width:300px;padding:10px 0}
.sales_quantity_setting dt{width:90px;float:left;text-align:right;line-height: 25px;}
.sales_quantity_setting dd{margin-left:95px}
.sales_quantity_setting p{padding-left:95px}
.search_stock{position: absolute;right:10px;top:0}
.stocksetting_put_form{padding:20px 0}
.stocksetting_put_form dl{padding:3px 0}
.stocksetting_put_form dt{float:left;width:130px;text-align:right;line-height:24px}
.stocksetting_put_form dd{margin:0 0 0 100px}
.stocksetting_put_btn{padding-left:130px}
.stocksetting_put_btn input{margin:0 10px 0 0}

.storage_put_form dl{padding:3px 0}
.storage_put_form dt{float:left;width:90px;text-align:right;line-height:24px}
.storage_put_form dd{margin:0 0 0 100px}
.storage_put_title{padding:10px 0 5px}
.storage_put_table table{margin:0 0 10px}
.simple_table td.storage_put_series{padding:0;text-align:left}
.simple_table h4{padding:0 10px;background:#fff9f9;border-bottom:1px solid #ddd;font-size:12px;line-height:30px}
.simple_table textarea{width:98%;padding:1px;border:0}
.storage_put_btn input{margin:0 10px 0 0}
