html,body{height:100%;margin:0;background:url(/static-resource/images/base/oa_login_bg.jpg) center center fixed; min-height:630px;}
.top{ height:50px; background:url(/static-resource/images/base/ie6_top.png) repeat; padding-left:30px; box-shadow:0 0 3px rgba(0,0,0,0.3);}
.bottom{ position:fixed; height:50px; width:100%; bottom:0; background:url(/static-resource/images/base/ie6_top.png) repeat; line-height:50px; font-size:16px; color:#FFF; text-align:right; _position:absolute;_top:expression(eval(document.documentElement.height-50)); box-shadow:0 0 3px rgba(0,0,0,0.3);}
.login_box{ width:573px; height:358px; position:absolute; right:249px; top:50%;}
.login_inner{ position:relative; top:-50%; background-color:#eee; height:100%; box-shadow:0 0 5px rgba(0,0,0,0.3);}
.login{ padding:0 35px; color:#59aaf6;}
.login h1{ font-size:32px; padding:30px 0 20px; line-height:1;}
.line{ line-height:0; overflow:hidden; height:1px; background-color:#d5d5d5; border-bottom:1px solid #fff; margin-bottom:10px;}
.inputarea{ padding:15px 0; line-height:40px; height:40px; position:relative; font-size:21px;}
.warningTips{ position:absolute; font-size:14px;left:160px; top:52px; color:#F00;}
.inputarea label{ width:155px; float:left; line-height:40px; font-size:20px; text-align:right; padding-right:5px;}
.input{ border:none; padding:5px 10px; height:28px; line-height:28px; font-size:20px; color:#333; border:1px solid #fff;}
.warning{ border:1px solid #F00; box-shadow:0px 0px 3px rgba(255,0,0,1);}
.button{ border:none; width:205px; height:55px; line-height:55px; text-align:center; background-color:#fcaf5d; color:#FFF; font-size:24px; cursor:pointer;}
.btnarea{ padding:20px 0 20px 160px;}