<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yilidi.o2o.order.dao.StockInImeiMapper">
	<resultMap id="BaseResultMap" type="StockInImei">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="STOCKINITEMID" property="stockInItemId" jdbcType="INTEGER" />
		<result column="IMEINO" property="imeiNo" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, STOCKINID, IMEINO
	</sql>

	<insert id="save" parameterType="StockInImei">
		insert into T_STOCKIN_IMEI (ID, STOCKINITEMID, IMEINO
		)
		values (#{id,jdbcType=INTEGER}, #{stockInItemId,jdbcType=INTEGER}, #{imeiNo,jdbcType=VARCHAR}
		)
	</insert>

</mapper>