a,input,img,textarea,span,div{outline: 0;-webkit-tap-highlight-color:rgba(255,0,0,0);}
header{
    width:100%;
    height: 45px;
    background: #ececea;
    border-bottom: 1px solid #ddd;
}
header.fixed{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
.header{
    margin:0 20px;
    text-align: center;
    color: #4e4a49;
    font-size: 1em;
    height: 45px;
    line-height: 45px;
    position: relative;
}
#letter{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-size: 75px;
    color: #555;
    text-align: center;
    line-height: 100px;
    background: rgba(145,145,145,0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-50px 0px 0px -50px;
    z-index: 99;
    display: none;
}
#letter img{
    width: 50px;
    height: 50px;
    float: left;
    margin:25px 0px 0px 25px;
}
.sort_box{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top:.9rem;
    left: 0;
}
.sort_list{
    position: relative;
    height: .8rem;
    line-height: .8rem;
    border-bottom:1px solid #ddd;
    background-color: #fff;
    margin-left: .2rem;
}
.sort_list .num_logo{
    width: .88rem;
    overflow: hidden;
    margin-top: .08rem;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: .5rem;
    padding: 0;
}
.sort_list .num_logo img{
    width: .88rem;
    height: .5rem;
    padding: 0;
}
.sort_list .num_name{
    color: #333;
    font-size: .3rem;
    float: left;
    line-height: .8rem;
    margin-left: .2rem;
}
.sort_letter{
    height: .54rem;
    line-height: .54rem;
    padding-left: .3rem;
    color:#666666;
    font-size: .32rem;
    background-color: #eeeeee;
}
.initials{
    position: fixed;
    top: .9rem;
    right: 0px;
    height: 100%;
    width: .56rem;
    text-align: center;
    font-size: .3rem;
    z-index: 99;
    background: rgba(255,255,255,1);
    color:#a9a9a9;
}
.initials li{
    display: block;
    text-align: center;
    vertical-align: middle;
}
.initials .letterActive{
    display: block;
    text-align: center;
    vertical-align: middle;
    color:#ffffff;
    background-color: #ffc600;
    border-radius: 50%;
}