<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bank_zx</key>
		<string>中信银行</string>
	</dict>
	<dict>
		<key>bank_zh</key>
		<string>招行银行</string>
	</dict>
	<dict>
		<key>bank_yz</key>
		<string>中国邮政储蓄银行</string>
	</dict>
	<dict>
		<key>bank_xy</key>
		<string>兴业银行</string>
	</dict>
	<dict>
		<key>bank_sh</key>
		<string>上海银行</string>
	</dict>
	<dict>
		<key>bank_pdfz</key>
		<string>上海浦东发展银行</string>
	</dict>
	<dict>
		<key>bank_pa</key>
		<string>中国平安</string>
	</dict>
	<dict>
		<key>bank_ny</key>
		<string>中国农业银行</string>
	</dict>
	<dict>
		<key>bank_ms</key>
		<string>中国民生银行</string>
	</dict>
	<dict>
		<key>bank_jt</key>
		<string>交通银行</string>
	</dict>
	<dict>
		<key>bank_js</key>
		<string>中国建设银行</string>
	</dict>
	<dict>
		<key>bank_bj</key>
		<string>北京银行</string>
	</dict>
	<dict>
		<key>bank_cn</key>
		<string>中国银行</string>
	</dict>
	<dict>
		<key>bank_gd</key>
		<string>中国光大银行</string>
	</dict>
	<dict>
		<key>bank_gf</key>
		<string>广发银行</string>
	</dict>
	<dict>
		<key>bank_gs</key>
		<string>中国工商银行</string>
	</dict>
	<dict>
		<key>bank_hx</key>
		<string>华夏银行</string>
	</dict>
</array>
</plist>
