<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>integral/listByCriteria</string>
	<string>salePromotion/ad/info</string>
	<string>/oauth2/token</string>
	<string>verify_code/send</string>
	<string>password_forget/update</string>
	<string>register/users/create</string>
	<string>register/account_exists</string>
	<string>register/nickname_exists</string>
	<string>verify_forgetcode/send</string>
	<string>register/third/create</string>
	<string>nvitationCode/exists</string>
	<string>oper_code/send</string>
	<string>password_forget/operator/update</string>
	<string>code/send</string>
	<string>openId_binding/check</string>
	<string>binding/mobile</string>
	<string>binding/register</string>
	<string>users/sys/help</string>
	<string>users/operator/notices</string>
	<string>users/sys_notices/details</string>
	<string>users/notices/details</string>
	<string>sns/recommend/list</string>
	<string>sns/crc/list</string>
	<string>sns/information/page_list</string>
	<string>sns/information/all_list</string>
	<string>sns/information/class</string>
	<string>sns/body/list</string>
	<string>users/experts/list</string>
	<string>sns/food/list</string>
	<string>food_calories/list</string>
	<string>sns/check/list</string>
	<string>sys/article/page_article_list</string>
	<string>sys/article/all_article_list</string>
	<string>sys/article/article_class</string>
	<string>case/list</string>
	<string>goods/case/list</string>
	<string>goods/class/list</string>
	<string>v1/goods/list</string>
	<string>like/goods/list</string>
	<string>goods/details</string>
	<string>goods/evaluate</string>
	<string>goods/consult/list</string>
	<string>shop/store_info/get</string>
	<string>shop/express/company/list</string>
	<string>shop/express/trans/view</string>
	<string>merch/store/list</string>
	<string>merch/store_common/info</string>
	<string>search/class/goods</string>
	<string>search/goods/keyword</string>
	<string>search/goods_hot/keyword</string>
	<string>personal/city/get</string>
	<string>personal/promotion_goods/list</string>
	<string>personal/hot_city/get</string>
	<string>personal/store/info</string>
	<string>personal/group_goods/like</string>
	<string>personal/class_find/list</string>
	<string>personal/all_city/list</string>
	<string>personal/keyword/search</string>
	<string>personal/area_parent/list</string>
	<string>personal/recomm_store/list</string>
	<string>personal/away_store/list</string>
	<string>personal/youlike_store/list</string>
	<string>personal/hot/search</string>
	<string>integral/list</string>
	<string>integral/details</string>
	<string>users/circle/list</string>
	<string>users/circle/query</string>
	<string>group/store_albun/list</string>
	<string>group/evaluate/list</string>
	<string>group/group_class/list</string>
	<string>users/invitation_all/list</string>
	<string>like/you_goods/list</string>
	<string>salePromotion/activityAd/goodsInfoList</string>
</array>
</plist>
