<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="content-type" content="no-cache, must-revalidate" />
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<title>一里递</title>
<link rel="stylesheet" href="../static-resource/css/reset.css" />
<link rel="stylesheet" href="../static-resource/css/main.css?2.0" />
<script type="text/javascript" src="../static-resource/js/base.js?2.0"></script>
<script type="text/javascript">
	document
			.write("<script type='text/javascript' src='../static-resource/js/local-data-storage.js?"
					+ Math.random() + "'><\/script>");
	document
			.write("<script type='text/javascript' src='../static-resource/js/main.js?"
					+ Math.random() + "'><\/script>");
</script>
<script type="text/javascript" src="../static-resource/js/angular.js"></script>
<script type="text/javascript" src="../static-resource/js/controller.js"></script>
</head>
<body ng-app="register" ng-controller="registerController" style="background-color: #eeeeee;">
	<header>
		<!--顶部标题-->
		<div class="top-big-tit">
			<div class="top-big-tit-btn" onclick="history.go(-1)"></div>
			<p>修改密码</p>
		</div>
	</header>
	<div class="bot-con" style="margin-top: .2rem;padding-top: .9rem;">
		<form name="forgotForm" class="forgotForm" style="background-color: #fff;">
			<label class="input-last password"> 原&nbsp;&nbsp;密&nbsp;&nbsp;码: <input type="password" name="password" id="passwordOriginal" class="password" placeholder="请输入原始密码"
				ng-model="user.passwordOriginal" required ng-minlength="6">
			</label> <label class="input-last password"> 新&nbsp;&nbsp;密&nbsp;&nbsp;码: <input type="password" name="password" id="password" class="password" placeholder="请输入新登录密码"
				ng-model="user.password" required ng-minlength="6">
			</label>
			<div role="alert">
				<span class="error" error-msg="password" id="errorTipForPassword"></span>
			</div>
			<label class="input-last password"> 确认密码: <input type="password" name="password2" class="password" id="password1" placeholder="请再次输入" ng-model="user.password2" required
				ng-minlength="6">
			</label>
			<div role="alert">
				<span class="error" error-msg="password" id="errorTipForPassword1"></span>
			</div>
		</form>
		<div class="sub-btn changePwdBtn">
			<button type="submit" id="reg-btn" ng-disabled="forgotForm.$invalid">完成设置</button>
		</div>
		<div class="other">
			<p style="color:#000;font-size: .2rem;text-align: left;">请为你的账号设置新密码，以便下次使用手机号、登录密码进行登录</p>
		</div>
	</div>
	<!--loading-->
	<section id="pageloading" class="hide">
		<img src="../static-resource/images/loading.png">
	</section>
	<script type="text/javascript">
		$(function() {
			var sub = document.getElementById("reg-btn");
			//初始化移入移出事件
			if (sub.addEventListener) {
				sub.addEventListener("click", resetPassword);
			} else if (sub.attachEvent) {
				sub.attachEvent("click", resetPassword);
			}
		});
		function resetPassword() {
			var valida = validaPassword();
			var param = new Object();
			param.oldPassword = $("#passwordOriginal").val();
			param.password = $("#password").val();
			if (valida) {
				ajax("/user/updatepassword", param, function(data) {
					alert("密码修改成功！");
					history.go(-1);
				}, function(msg) {
					alert(msg);
				}, true);
			}
		}
		function validaPassword() {
			var password = document.getElementById("password");
			var passwordConfirm = document.getElementById("password1");
			if (password.value != passwordConfirm.value) {
				return false;
			} else {
				return true;
			}
		}
	</script>
	<script type="text/javascript" src="../static-resource/js/verify.js"></script>
</body>
</html>